

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100dvh;
  width: 100vw;
  padding: 25px;
  box-sizing: border-box;
  overflow: hidden;
}

.top-bar {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.bottom-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.sidebar-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
  
  cursor: pointer;
  z-index: 1000;
}

.score {
  font-size: 2.5rem;
  font-weight: 600;
}

.center-element{
  position: absolute;
  text-align: center;
  width: 80%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bottom{
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  text-align: center;
  align-items: end;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}


.soundIcon {
  max-width: 50px;
  transition: ease-in-out opacity 0.5s;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.punishment {
  color: var(--color-error);
  animation-name: shake;
  animation-duration: 0.2s;         
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  75% { transform: translateX(10px); } 
  100% { transform: translateX(0); } 
}

.reward {
  color: var(--color-accent);
}
