

.app-container {
  display: grid;
/*   flex-direction: column;
  align-items: center;
  justify-content: space-between; */
  grid-template-rows: minmax(auto, 1fr) auto 1fr ;
  height: 100dvh;
  width: 100vw;
  padding: 25px;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

}

.top-bar {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  grid-row: 1;
}

.bottom-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.lowerLeft{
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.sidebar-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 2.5rem;
  padding: 0;
  margin: 0;
  
  cursor: pointer;
  z-index: 1000;
}

.score {
  font-size: 2.5rem;
  font-weight: 600;
}

.center-element{
  grid-row: 2;
  text-align: center;
  flex-shrink: 1;
  width: 100%;
}

.bottom{
  grid-row: 3;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: end;
  transition: all 0.3s ease-in-out;
}

.absoluteCenter {
  transform: translate(0, -50%);
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.returnToOrigin{
  transform: translate(0, 0);
  transition: all 0.3s ease-in-out;
}

.soundIcon {
  max-width: 50px;
  transition: ease-in-out opacity 0.5s;
}

.growBig{
  transform: scale(1.5);
  transition: all 0.3s ease-in-out;
}

.punishment {
  color: var(--color-error);
  animation-name: shake;
  animation-duration: 0.2s;         
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-10px); }
  75% { transform: translateX(10px); } 
  100% { transform: translateX(0); } 
}

.reward {
  color: var(--color-accent);
}
