.note-display-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
  height: 100%;
  width: 100%;
  overflow: visible;
}

.note-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 300px;
  width: 100%;
  height: 8em; 
  container-type: size;
  font-weight: bold;





  
  transform: scale(1);

  transition: all 0.2s ease-in-out;
}

.pulse {
  transform: scale(1.3);
}

.reward {
  color: var(--color-accent);
}

.current-note {
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100%;

}

.current-note span {

  font-size: min(80cqw, 66cqh);
  line-height:1em;
}

.current-interval {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  opacity: 0.7;
  width: 100%;
}

.current-interval span {
  font-size: min(33cqw,33cqh);

  line-height: .5em;
}

.activeIndicator {
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  border-color: var(--color-accent);
  border-style: solid;
  border-radius: 50%;
  z-index: 1;
  transition: all 0.3s ease-in-out;

}

