
.note-input-panel{
}

.input-pitch-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    height: 6em;
    width: 6em;
    margin: auto;
    margin-bottom: 2vh;
    

    border-radius: 50%;
    border: solid 1px white;
}

.input-pitch{
    line-height: 4em;
    font-size: 4em;
}