.sensitivity-slider-container {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}

.sensitivity-slider {

  width: 80%;
  height: 0.5rem;
  -webkit-appearance: none;
  background: #ddd;
  border-radius: 5px;
  outline: none;
}

.sensitivity-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background: #00a8ff;
  border-radius: 50%;
  cursor: pointer;
}

.sensitivity-slider::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  background: #00a8ff;
  border-radius: 50%;
  cursor: pointer;
}

.sensitivity-label {
  margin: 0;
  padding: 0;
  margin-top: 0.5rem;
  color: white;
  font-size: 0.9rem;
}
