.show {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.hide {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.grow-up {

  transition: all 0.3s ease-in-out;
  opacity: 1;
  transform: scale(1);

  
}

.shrink-away {

  transition: all 0.3s ease-in-out;
  transform: scale(0);
  font-size: 0;
  opacity: 0;

}

.grow-big{
    transform: scale(1.1);
}